
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

#container input {
    margin: 5px;
    padding: 8px;
    display: inline-block;
}