section {
    padding: 20px;
}

.product {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    text-align: left;
}
.product{
    width: 32%;
    @media all and (max-width: 1000px) {
        width: 80%;
    }
}

.fixedP {
    color: black;
    font-weight: bold;
}

.fixedP span.highlight {
    color: red;
}

label.highlight {
    color: orange;
    font-weight: bold;
}


.imageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageContainer img {
    width: 200px;
    height: auto;
    margin: 5px 0;
    filter: unset;
}



.fixedP2 {
    color: orange;
    font-weight: bold;
}

.solid {
    border: 1px solid;
}

.orange {
    border-color: orange;
}

.sectionTitle {
    color: black;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    padding: 0 20px;
    margin: 20px 0;
}

.sectionTitle::after {
    content: "";
    display: block;
    height: 2px;
    background-color: orange;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.dishImageHomePage img {
    width: 88%;
    border: 2px solid black;
    filter: unset;
    @media all and (max-width: 1000px) {
        width: 43%;
        filter: unset;
    }
}

.titleWithAddButton, .imageAndEditButton{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.imageAndEditButton{
    align-items: unset;
    justify-content: space-between;
}

.dishDiv{
    border: 1px solid #000;
    display: block;
    margin:5% 0;
    padding: 2%;
}