
/*NAVBAR STYLES*/
.navbar {
    background: #FFCC8F;
    background-blend-mode: multiply;
    padding: 4%;
}

.navBarFooter img {
    width: 30%;

    @media all and (max-width: 1000px) {
        width: 60%;
    }
}


/*FOOTER STYLES*/

#contact {
    background-color: #eee;
    padding: 20px;
    text-align: center;
    font-size: larger;
}