body{
    font-family: Arial, sans-serif;
    text-align: center;
    margin: unset;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

form input {
    margin: 6px 0;
    padding: 8px;
}

.submitButton {
    border-radius: 25px;
    background-color: #FFCC8F;
    font-size: x-large;

    @media all and (max-width: 1000px) {
        border-radius: 25px;
        width: 40%;
        background-color: #FFCC8F;
        font-size: x-large;
    }
}

/*for input text field*/
.tFBorderRadiusAndColor{
    border-radius: 16px;
    border-color: #FFCC8F;
    border-width: medium;
    font-size: larger;
}

/*back button*/
.backButton{
    padding: 8px 14px;
    margin-right:14%;
    width: 100px;
    font-size: large;
    margin-bottom: 60px;
}
.backgroundColorAndRadius{
    background-color: #FFCC8F;
    border-radius: 25px;
}

.displayBlock{
    display: block;
}

.displayNone{
    display: none;
}

/*Invalid input field border color*/
.invalidInput {
    border-color: red;

}

/*Invalid input label color*/
.invalidInputLabel {
    color: red;
    margin-top: 5px;
    margin-bottom: 10px;
    display: block;
}

img{
    filter: unset;
}